.pageWrapper {
    padding-inline: var(--padding-inline);
    padding-block: calc(var(--padding-block) * 2);
}

.categoryTitle {
    margin-bottom: calc(var(--gap) * 0.5);
    margin-left: var(--gap);
    font-size: var(--fs-lg);
    font-weight: var(--fw-light);
}

.table {
    width: 100%;
    table-layout: fixed;
    padding-top: var(--gap);
    border-spacing: 0 calc(var(--gap) * 0.5);
}

th , td{
    text-align: left;
    word-wrap: break-word;
}

.nameColumn {
    width: 60%;
}

@media screen and (max-width: 400px) {
    .categoryTitle {
        margin: 0;
    }

}