.navbar-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}

.navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: calc(var(--gap) * 1.5);
}