*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 100ms ease-out;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--ff);
    font-weight: var(--fw-light);
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}